<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="service" name="Explanation Logic" schema="schema/not.org.saa.protege.explanation.joint.service.exsd"/>
   <extension id="PresentationService" point="org.protege.editor.owl.explanation">
      <name
            value="Presentation Service">
      </name>
      <class
            value="not.org.saa.protege.explanation.joint.PresentationService">
      </class>
   </extension>
</plugin>
